<mat-toolbar>
  <span class="fillSpace"></span>
  <button mat-button>
    <mat-icon>camera_alt</mat-icon>
  </button>
  <div class="vl"></div>
  <a href="#">InstaClone</a>
  <!-- <span class="fillSpace"></span> -->
  <mat-form-field class="example-full-width" appearance="outline" floatLabel="never">
      <input type="search" matInput placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <button mat-button>
    <mat-icon>explore</mat-icon>
  </button>
  <button mat-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-button>
    <mat-icon>account_circle</mat-icon>
  </button>
  <span class="fillSpace"></span>
</mat-toolbar>
