<mat-card>
  <form [formGroup]="form" (submit)="onSavePost()">
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="imagePreview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="">
    </div>
    <mat-form-field>
      <input matInput
        type="text"
        rows="4"
        formControlName="caption"
        placeholder="Write a caption...">
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Post</button>
  </form>
</mat-card>

